
body {
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#grid {
  order: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
   width: 60%;
   padding-bottom: 100%;
   padding-left: 0;
}

#grid > li {
  flex: 1 0 20%;
  width: 8vw;
  height: 14vw;
  margin-right: 0.1em;
  margin-bottom: 0.1em;
  border-radius: 0.1em;
  justify-content: center;
  background-repeat: no-repeat;
  display: flex;
  font-size: 4em;

}

img {
  width: 100%;
  height: 100%;

  display:none;
}

.front {
  background-color: grey;
}

.back {
  background-size: 100%; /*image won't display without this*/
  background-color: grey;
}


.match {
    background-size: 100%;
    background-color: green;
}

.mismatch {
  background-size: 100%;
  background-color: red;

}

.allofthem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}

.title {
  text-transform: uppercase;
  color: orange;
  text-align: center;
  padding: 0 0 0 0;
  font-size: 4em;
  line-height: 0.8em;
}

.game-info-panel {
  order:2; /*to align it on the right hand side*/
  display: flex;
  flex-direction: column;
}

#play-again {
  font-family: 'Dosis', sans-serif;
  align-self: center;
  font-size: 1.4em;
  color: white;
  display: none;
  background-color: MediumVioletRed;
  border-radius: 3px;
}
